# Python
__pycache__/
*.pyc

# SQLite database
*.db
*.sqlite3

# Runtime data
data/

# OS
.DS_Store

# Utlity files/folders
export_project.sh
project_summary.txt

# For cursor setting
.cursor/

# Report file (this is temporary utility file) is unnecessary to version-control
TASK*report.txt

